body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
   
.big_button_container{
    //clear:left;
    //float:left;
    margin:0px auto;
    width:825px;
    //padding:14px;
}

.one_button_row{
    margin:0px auto;
    width:200px;
}

.two_button_row{
    margin:0px auto;
    width:403px;
}

.three_button_row{
    margin:0px auto;
    width:606px;
}

.four_button_row{
    margin:0px auto;
    width:809px;
}
.bigbutton{
    float:left;
    //clear:both;
    margin-right:3px;
    margin-top:3px;
    border-style:none; 
    width:200px;
    height:125px;
    background:#0055b7;
    text-align:center;
    line-height:50px;
    color:#ffffff;
    font-size:16px;
    //font-weight:bold;
}

.sessions_button {
    width:85px;
    padding-left:10px;
    padding-right:10px;
    background:#0055b7;
    color:#ffffff;
    font-size:10px;
    text-align:center;
    border-style:solid;
    border-width:1px;
    border-radius:3px;
    border-color:#00afeb;
}
