body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
    
.titleframe{    
    margin:0 auto;
    width:930px;
    clear:left;
    height:250px;
}

/*  Selector codes
    # : id 
    . : class
*/

.logoimage {
    position:relative;
    float:left;
    width:203px;
    height:128px;
    float:left;
}

.logoimage img {
	max-width:100%;
	max-height:100%;
}

.titletext h1 {
    color:#000000;
    font-size:x-large;
}

.titletext p {
    color:#444444;
    font-size:large;
    height:
}

.titletext .title_image {
    width:336px;
    height:79px;
}

#userentry { // includes left button stack and stylized text boxes
    float:center;
    clear:left;
    width:700px; //696px;
    //height:128px;
    margin:0px auto;
    //border:1px solid;;
}

#additem{
    margin-top:0;
    margin-left:30px;
    float:left;
    width:456px;
    //border:1px solid;
}

#additem .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:140px;
}

#additem label {
    clear:left;
    display:block;
    font-weight:bold;
    text-align:right;
    width:140px;
    float:left;
}

#additem input {
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #0055b7;
    width:300px;
    margin:2px 0 20px 10px;
}

#additem #addbutton{
    margin:15px auto auto 150px;
}

#additem #googlemap {
    //float:left;
    margin-top:30px;
    margin-left:10px;
    margin-right:auto;
    width:440px;
    height:200px;

}

#additem .combobox {
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #0055b7;
    width:305px;
    height:27px;
    margin:2px 0 20px 10px;
}

#additem textarea {
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #0055b7;
    width:300px;
    margin:2px 0 20px 10px;
}

#buttonstack{
    float:left;
    width:210px;
}
#buttonstack button{
    clear:left;
}

.bodyframe #dataset{
    float:left;
    width:650px;
    margin-left:25px;
}

//#dataset .datarow image{width:15px;}
#dataset .datarow .xv{width:15px;}
#dataset .datarow .id {width:0px;}
#dataset .datarow .xxx {width:30px;}
#dataset .datarow .xxx_center {width:30px; text-align:center;}
#dataset .datarow .l0 {width:50px;}
#dataset .datarow .lx {width:60px;}
#dataset .datarow .c0 {width:100px;}
#dataset .datarow .cxxv {width:125px;}
#dataset .datarow .cl {width:150px;} 
#dataset .datarow .clxxv {width:175px;}
#dataset .datarow .cc {width:200px;}
#dataset .datarow .ccxxv {width:225px;}
#dataset .datarow .ccc {width:300px;}
#dataset .datarow .cccl {width:350px;} 


#dataset .dataheader td{
    font-weight:bold;
    border-bottom:1px solid black;
    color:#0055b7;
}

#dataset .datarow{
    color:#666666;
    height:30px;
}

#dataset .datarow td{
    border-bottom:1pt solid #0055b7;
}

#dataset .inputrow {
    vertical-align:center;
    color:#666666;
    height:30px;
    overflow:hidden;
}

#dataset .inputrow td{
    //border-bottom:1pt solid #0055b7;
    border-top:10px;
    vertical-align:top;
}

#dataset .inputrow image {
    margin-top:5px;
}

#dataset .inputrow .xv{width:15px;}
#dataset .inputrow .xxx{
    width:30px; 
    text-align:center; 
}
#dataset .inputrow .cc{width:200px;}
#dataset .inputrow .l0{width:50px;}

#rightsidebox{
    float:left;
    width:100px;
    //padding-top:200;
    height:200px;
    background-color:#ffffff;
    color:#0055b7;
    text-align:center;
    margin-left:20px;
    //border:1px solid;
}

#distribution_list {
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	border:1px solid #0055b7;
	margin:0 auto;
	min-height:200px;
	height:auto;
	max-width:800px;
}
