@CHARSET "UTF-8";

#menu-buttons {margin:0 auto; text-align:center;}
#menu-buttons .button {
	display:inline-block;
	width:auto; 
	margin-right:20px; 
	margin-left:20px;
	background:transparent; 
	vertical-align:bottom;
	font-size:small;
	text-transform:uppercase;
	color:#73bf00;
	cursor:pointer;
}

#menu-buttons .unselected {text-decoration:none;}
#menu-buttons .selected {text-decoration:underline;}
#menu-buttons .unselected:hover {color:#92f200;}
#remember-me {display:inline-block; color:#73bf00; margin-left:20px;}

.div-visible {
	visibility:visible;
}

.div-hidden {
	visibility:hidden;
}

#subtitle {font-size:22px;}

.btn-logs {width:125px; text-align:center;}
.btn-logs button {
	background-color:#1d1d1d; 
	color:#737373; 
	font-size:10px;
	border-radius:3px; 
	border:1px solid #73bf00; 
	padding-left:5px; 
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
	width:100px;
	margin:0 auto 2px auto;	
}

.data-table {position:absolute; left:0; right:0; margin:30px auto;}

.workout_type {min-width:125px;}
.notes {min-width:200px; max-width:200px;}
.texttop {vertical-align:top;}

.comment textarea {display:block; width:auto; height:auto; border:1px solid #303030; align:top; margin:0 auto;}

.empty_table_string {width:100%; color:#73bf00; text-align:center; font-size:large; margin-top:50px;}