body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}

/*  Selector codes
    # : id 
    . : class
*/

/* ----------- My Form ----------- */
#leftsidebox, #rightsidebox{
    float:left;
    width:272px;
    min-width:270px;
    padding:0px;
    height:465px;
    background-color:#ffffff;
    line-height:465px;
    color:red;
    text-align:center;
    margin:auto;
}

.myform{
    float:left;
    width:400px;
    padding:14px;
    border:solid 2px #b7ddf2;
    background-color:#ebf4fb
}
    
#frame{
}

#page{    
    margin:0 auto;
    width:982px;
}
#feedback{
    color:red;
    text-align:center;
    clear:both;
    margin:auto;
    height:20px;
}

.textboxes {
    float:left;
}

/* ----------- stylized ----------- */
#stylized{
}
#stylized h1 {
    font-size:14px;
    color:#666666;
    font-weight:bold;
    margin-bottom:8px;
    text-align:center;
}
#stylized p{
    font-size:11px;
    color:#666666;
    margin-bottom:20px;
    border-bottom:solid 1px #b7ddf2;
    padding-bottom:10px;
}
#stylized label{
    display:block;
    font-weight:bold;
    text-align:right;
    width:140px;
    float:left;
}
#stylized .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:140px;
}
#stylized input{
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:200px;
    margin:2px 0 20px 10px;
}
#stylized button{
    clear:both; 
    margin-left:150px;
    width:125px;
    height:31px;
    background:#666666 url(img/button.png) no-repeat;
    text-align:center;
    line-height:31px;
    color:#ffffff;
    font-size:11px;
    font-weight:bold;
}

#stylized .lowerbutton{
    float:left;
    margin-top:5px;
}

